<link rel="stylesheet" href="/css/estilos.css">

<div class="pagina-estilos">
    <h1>Entre em contato com o Morete</h1>
    <hr />

    <form>
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="nome">
        </div>
        <div>
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" cols="30" rows="10"></textarea>
        </div>
        <div>
            <button type="submit">Enviar</button>
            <button type="reset">Limpar formulário</button>
        </div>
    </form>
</div>