<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestJS MVC</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>

<body>
    <h1><%= titulo %></h1>
    <hr />


</body>

</html>