<h1>
    <%= titulo %>
</h1>
<p>Escolha para qual página deseja ir:</p>

<ul>
    <% rotas.forEach(function(rota) { %>
        <li><a href="<%= rota.path %>">
                <%= rota.label %>
            </a></li>
        <% }) %>
</ul>